/* 基本スタイル（スマホ向け） */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 170%;
  padding: 0px;
}

@media screen and (orientation: landscape){
  .container {
    flex-direction: row;
  }
}
 
 
/* タブレット向け（768px以上） */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    width: 750px;
  }
}
 
/* PC向け（1025px以上） */
@media screen and (min-width: 1025px) {
  .container {
    width: 1000px;
  }
}

div{
  box-sizing: border-box;
}

.preview_pane {
  width: 100%;
  padding: 20px;
  flex: 1 0 20em;
}

.zone_container {
  display: inline-block;
  width: 4em;
  height: 4em;
  position: relative;
}

.zone_default {
  display: block;
  width: 69%;
  height: 4em;
  margin: 0 auto;
  border: 1px solid #999;
}

.zone_defense {
  width: 4em;
  height: 69%;
  border: 1px solid #88F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.setting_pane {
  background-color: light-gray;
  border: 1px solid black;
  flex: 1 0 100%;
}
