/* 基本スタイル（スマホ向け） */
.container {
  display: grid;
  grid-template-areas:
    "preview"
    "setting";
  flex-direction: column;
  width: 100%;
  height: 100svh;
  padding: 0px;
  margin: 0 0;
}

/* タブレット向け（768px以上） */
@media screen and (min-width: 768px) {
  .container {
    grid-template-areas:
      "preview setting";
    flex-direction: row;
    width: 750px;
    margin: 0 auto;
  }
}

p{
  margin: 0 0;
  padding: 0;
  clear: both;
}

div{
  box-sizing: border-box;
  
}

.preview_pane {
  width: 100%;
  padding: 10px 20px;
  flex: 1 0 50%;
  grid-area: preview;
}

.field_container {
  margin: 10px 0;
  font-size: clamp(10px, 3vh, 16px);
  display: grid;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(9, auto);
}

.zone_container {
  display: inline-block;
  width: 4em;
  height: 4em;
  margin: 0 0;
  position: relative;
}

.outline_vertical {
  display: block;
  width: 69%;
  height: 4em;
  margin: 0 auto;
  border: 1px solid #999;
}

.outline_horizontal {
  width: 4em;
  height: 69%;
  border: 1px solid #88F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.status_label {
  width: 4em;
  height: 1em;
  margin: 0 0; 
}
.status_label > label{
  font-size: 50%;
}

.setting_pane {
  grid-area: setting;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2em auto;
  gap: 0;
  background-color: gray;
  border: 1px solid black;
  margin: 0 0;
  padding: 0 0;
  line-height: 170%;
  flex: 1 0 50%;
  width: stretch;
  height: stretch;
}

.tab_button {
  background-color: lightgray;
  margin: 0 0;
  width: stretch;
  height: 2em;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  text-align: center;
}

.tab_content {
  grid-column: 1 / span 2;
  background-color: lightgray;
  margin: 0 0;
  padding: 15px;
  width: 100%;
}
