/* 基本スタイル（スマホ向け） */
.container {
  width: 100%;
  padding: 1em;
  line-height: 170%;
}
 
/* タブレット向け（768px以上） */
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
 
/* PC向け（1025px以上） */
@media screen and (min-width: 1025px) {
  .container {
    width: 1000px;
    line-height: 200%;
  }
}

div{
  box-sizing: border-box;
  margin: 0 0;
}

.zone_container{
  width: 4em;
  height: 4em;
  position: relative;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.zone_default {
  width: 69%;
  height: 4em;
  border: 1px solid #999;
}

.zone_defense {
  width: 4em;
  height: 69%;
  border: 1px solid #88F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
